<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="main">
        <div id="box">
            <p id="p1">这是一个段落</p>
            <p id="p2">第二个段落</p>
        </div>
    </div>
    <button id="btn">add按钮</button>
    <script>
        function haha() {
            var main = document.getElementById("main");
            var box = document.getElementById("box");
            var newNode = box.cloneNode(true);
            main.appendChild(newNode);
            console.log(main);
        }

        document.getElementById("btn").addEventListener("click",haha);
    </script>


</body>


</html>