* {
    box-sizing: border-box;
}
.qrcodeofmy_fixed {
    position: fixed;
    top: 0;
    right: 0;
    width: 140px;
    height: 140px;
    border: #FDC72F 3px solid;
    background-color: antiquewhite;
}
.qrcodeofmy_fixed p {
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    /* border: #FDC72F 3px solid; */
    border-bottom: #FDC72F 3px solid;
}
#qrcodeofmy img {
    margin: 0 auto;
}

.text_box {
    position: relative;
    margin: 1% auto;
    max-width: 464px;
    border: #4caf50 2px solid;

}
.text {
    display: inline-block;
    max-width: 200px;
    height: 160px;
    resize: none;
    vertical-align: top;
    border: #4caf50 2px solid;
}

.qrcode {
    display: inline-block;
    width: 160px;
    height: 160px;
    border: 2px solid #FDC72F;
}
.btn_c {
    vertical-align: top;
    display: inline-block;
    border: #D64078 2px solid;
    position: relative;
    width: 100px;
    height: 160px;
}
.del_btn {
    background-color: #4caf50;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 32px;
    text-align: center;
    width: 96px;
    transition: background-color .2s;

}
.btn_copy_text {
    background-color: #4caf50;
    position: absolute;
    right: 0px;
    top: 60px;
    height: 32px;
    text-align: center;
    width: 96px;
    transition: background-color .2s;
}


.add_btn {
    background-color: #4caf50;
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 32px;
    text-align: center;
    width: 96px;
    transition: background-color .2s;
}
/* #qrcodeofmy{
    width: 100px;
    float: right;;
    height: 100px;
    margin-top: 0px;
    border: 10px solid red;
} */
